mixin goods
  section.goods
    -
      const carsList = [
        {
          brand: 'TIGGO',
          model: '8 PRO MAX',
          src: '@/img/cars/car-1.png',
          profit: '1 050 000 ₽',
          benefits: [
            {icon: 'goods--engine', desc: 'Мощный двигатель 2.0 GDI 197 л.с, разгон до 100 км/ч за 8,5с'},
            {icon: 'goods--cameras', desc: 'Современные HD-камеры кругового обзора 360 градусов'},
            {icon: 'goods--screens', desc: 'Цифровая зона управления с 2 интегрированными 12,3" экранами'},
          ],
        },
        {
          brand: 'TIGGO',
          model: '8 PRO',
          src: '@/img/cars/car-2.png',
          profit: '1 000 000 ₽',
          benefits: [
            {icon: 'goods--engine.svg', desc: 'Мощный комплектации 2.0 Turbo 170 CVT9 или 1.6 Turbo 186 DCT7'},
            {icon: 'goods--cameras.svg', desc: 'Современные HD-камеры кругового обзора 360 градусов'},
            {icon: 'goods--screens.svg', desc: 'Цветной экран с бортовым компьютером в панели приборов 12,3"'},
          ],
        },
        {
          brand: 'TIGGO',
          model: '8',
          src: '@/img/cars/car-3.png',
          profit: '850 000 ₽',
          benefits: [
            {icon: 'goods--engine.svg', desc: 'Мощный комплектации 1.5 Turbo DCT6  147 л.с., разгон до 100 км/ч за 9,8 с'},
            {icon: 'goods--cameras.svg', desc: 'Современные HD-камеры кругового обзора 360 градусов'},
            {icon: 'goods--screens.svg', desc: 'Цветной экран с бортовым компьютером в панели приборов 7"'},
          ],
        },
        {
          brand: 'TIGGO',
          model: '7 PRO MAX',
          src: '@/img/cars/car-4.png',
          profit: '750 000 ₽',
          benefits: [
            {icon: 'goods--engine.svg', desc: 'Мощный комплектации SQRE4T15C 147 л.с., разгон до 100 км/ч за 9,8 с'},
            {icon: 'goods--cameras.svg', desc: 'Современные HD-камеры кругового обзора 360 градусов'},
            {icon: 'goods--screens.svg', desc: 'Цифровая панель приборов 12,3"'},
          ],
        },
        {
          brand: 'TIGGO',
          model: '7 PRO',
          src: '@/img/cars/car-5.png',
          profit: '650 000 ₽',
          benefits: [
            {icon: 'goods--engine.svg', desc: 'Мощный комплектации SQRE4T15C 147 л.с., разгон до 100 км/ч за 9,8 с'},
            {icon: 'goods--cameras.svg', desc: 'Современные HD-камеры кругового обзора 360 градусов'},
            {icon: 'goods--screens.svg', desc: 'Сенсорный емкостной 10" дисплей'},
          ],
        },
        {
          brand: 'TIGGO',
          model: '4 PRO',
          src: '@/img/cars/car-6.png',
          profit: '150 000 ₽',
          benefits: [
            {icon: 'goods--engine.svg', desc: 'Мощный комплектации 1.5 Turbo DCT6  147 л.с., разгон до 100 км/ч за 9,7 с'},
            {icon: 'goods--cameras.svg', desc: 'Современные HD-камеры кругового обзора 360 градусов'},
            {icon: 'goods--screens.svg', desc: '9" сенсорный емкостной дисплей с возможностью персонализации'},
          ],
        },
        {
          brand: 'TIGGO',
          model: '4',
          src: '@/img/cars/car-7.png',
          profit: '10 000 ₽',
          benefits: [
            {icon: 'goods--engine.svg', desc: 'Мощный комплектации 1.5 Turbo DCT6  147 л.с., разгон до 100 км/ч за 9,7 с'},
            {icon: 'goods--cameras.svg', desc: 'Современные HD-камеры кругового обзора 360 градусов'},
            {icon: 'goods--screens.svg', desc: '9" сенсорный емкостной дисплей с возможностью персонализации'},
          ],
        },
      ];
    .goods__container.container 
      .goods__inner
        ul.goods__list 
          each carsItem, idx in carsList
            li.goods__item 
              button.goods__item-btn(data-slide-index=idx type="button")
                strong.goods__item-name
                  =carsItem.brand
                  span.goods__item-name_accent=carsItem.model
                span.goods__item-profit 
                  span Выгода до 
                  br
                  span=carsItem.profit
        .goods__slider.swiper 
          ul.swiper-wrapper
            each carsItem in carsList
              li.swiper-slide
                .goods__slider-item
                  .goods__name-wrap-mobile
                    h2.goods__name.section-title
                      =carsItem.brand
                      span.goods__name_accent=carsItem.model
                  .goods__img-block 
                    img.goods__img(src=carsItem.src alt="Фотография машины")
                  .goods__content
                    .goods__name-wrap
                      h2.goods__name.section-title
                        =carsItem.brand
                        span.goods__name_accent=carsItem.model
                    ul.goods__benefits 
                      each benefit in carsItem.benefits
                        li.goods__benefits-item
                          svg.goods__benefits-icon
                            use(xlink:href=`./assets/sprite.svg#${benefit.icon}`)
                          span.goods__benefits-text=benefit.desc
                    .goods__sum 
                      span.goods__sum-price 
                        | Выгода до
                        br
                        span.goods__sum-price_amount=carsItem.profit
                      .goods__sum-btn-block
                        a.btn.btn_red.goods__sum-btn-price(href="#") 
                          | Узнать цену
                          svg.btn__icon
                            use(xlink:href="./assets/sprite.svg#right-arrow")
                        button.btn.btn_trs.goods__sum-btn-credit(type="button") Рассчитать кредит
          button.swiper-button-next(type="button")
          button.swiper-button-prev(type="button")